force-app/main/default/flows/Create_Credit_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Invoice_Item_Collections</name>
        <label>Add Invoice Item Collections</label>
        <locationX>446</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>InvoiceItemCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCreateInvoiceItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Invoice_Item_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PT_Collections</name>
        <label>Add PT Collections</label>
        <locationX>446</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>PTUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdatePT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCreatePT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceItemCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCreateInvoiceItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Pay_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varInvoiceID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Items</name>
        <label>Count Items</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CountSelectedInvoiceItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>tableInvoiceItems.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountTotalItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Invoice_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Items_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Invoice_Items</name>
        <label>Create Invoice Items</label>
        <locationX>446</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_pr__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Original_Invoice_Invoice_Item_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pay_Transactions.tc9_et__Invoice_Item__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Is_Credit_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit_Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Pay_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Invoice_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_et__Invoice_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Entry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_pr__Entry_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Pay_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_pr__Pay_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Invoice_Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_et__Invoice_Taxable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Invoice_Tax_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_et__Invoice_Tax_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Invoice_Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_et__Invoice_Tax_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_pr__Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_pr__Employee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Payee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_pr__Payee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_pr__Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Timesheet_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_et__Timesheet_Entry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Timesheet_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_et__Timesheet_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Project_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_pr__Project_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Invoice_Total_Ex_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmReversalInvoiceTotalExTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Invoice_Total_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmReversalInvoiceTotalTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Invoice_Total_Inc_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmReversalInvoiceTotalIncTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_et__Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Invoice_Item_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Purchase_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_et__Purchase_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateInvoiceItem.tc9_et__Invoice_Item_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PT_Reversal_Collection.tc9_pr__Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Invoice_Item_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_PT</name>
        <label>Create PT</label>
        <locationX>446</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>varCreatePT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pay_Transactions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_pr__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmPTQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_et__To_Be_Invoiced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_pr__Invoice_Creation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_et__Date_Invoice_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmNOW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_et__Is_Credit_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_pr__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_et__X2cloudnine_Time2Pay_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_et__Manual_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_et__Original_Invoice_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pay_Transactions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_et__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_pr__Invoice_Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Invoiced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_pr__Processed_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_pr__Pay_Batch__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_pr__Pay_Batch_Item__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreatePT.tc9_pr__Pay_Advice__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pay_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Invoice_Items</name>
        <label>Update Invoice Items</label>
        <locationX>358</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>varUpdateInvoiceItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Invoice_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateInvoiceItem.tc9_et__Has_Been_Credited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceItemUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateInvoiceItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invoice_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Pay_Transaction</name>
        <label>Update Pay Transaction</label>
        <locationX>446</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>varUpdatePT.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pay_Transactions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdatePT.tc9_et__Has_Been_Credited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PT_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Reversal_PT</name>
        <label>Update Reversal PT</label>
        <locationX>446</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>varUpdateReversalPT.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reversed_Invoice_Items.tc9_et__Pay_Transaction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateReversalPT.tc9_et__Invoice_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reversed_Invoice_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectPTReversalUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateReversalPT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Reversal_PT</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Invoice_Item_Record_Types</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Invoice Item Record Types</label>
        <locationX>358</locationX>
        <locationY>2762</locationY>
        <assignNextValueToReference>currentItem_Filter_Invoice_Item_Record_Types</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Invoice_Item_Record_Type</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Invoice_Item_Record_Types.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_PT_Reversal_Collection.RecordType.DeveloperName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filtered_Invoice_Item_Record_Types</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Pay_Transactions</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Pay Transactions</label>
        <locationX>358</locationX>
        <locationY>1730</locationY>
        <assignNextValueToReference>currentItem_Filter_Pay_Transactions</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pay_Transactions</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Pay_Transactions.tc9_et__Invoice_Item__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Invoice_Items.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Pay_Transactions</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Reversal_Pay_Transactions</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Reversal Pay Transactions</label>
        <locationX>358</locationX>
        <locationY>3686</locationY>
        <assignNextValueToReference>currentItem_Filter_Reversal_Pay_Transactions</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>PTCreateCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Reversal_Pay_Transactions.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Reversed_Invoice_Items.tc9_et__Pay_Transaction__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filtered_Reversal_PT</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Invoice_Items_Selected</name>
        <label>Invoice Items Selected?</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_Credit_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CountSelectedInvoiceItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountSelectedInvoiceItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrNoneSelected</targetReference>
            </connector>
            <label>None Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>tc9_et__Credit_Reason__c</picklistField>
        <picklistObject>tc9_et__Invoice__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmDomain</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>frmDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!Get_Invoice_Settings.tc9_et__Payment_Terms__r.tc9_et__Days_From__c}</expression>
    </formulas>
    <formulas>
        <name>frmFullCredit</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!CountSelectedInvoiceItems} = {!CountTotalItems}, true, false
)</expression>
    </formulas>
    <formulas>
        <name>frmInvoiceRecordType</name>
        <dataType>String</dataType>
        <expression>IF(
{!Get_Invoice.RecordType.Name} = &quot;Payroll Items&quot;, &quot;Credit Payroll Items&quot;, &quot;Credit Invoiceable Fees&quot;
)</expression>
    </formulas>
    <formulas>
        <name>frmInvoiceSettingType</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Invoice.tc9_et__Invoice_Setting__r.tc9_et__Invoice_Record_Type__c}, &quot;Payroll_Items&quot;), &quot;Credit_Payroll_Items&quot;, &quot;Credit_Invoiceable_Fees&quot;)</expression>
    </formulas>
    <formulas>
        <name>frmInvoiceTotalexTax</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Invoice_Items.tc9_et__Invoice_Total_Ex_Tax__c} *-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmInvoiceTotalIncTax</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Invoice_Items.tc9_et__Invoice_Total_Inc_Tax__c} *-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmInvoiceTotalTax</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Invoice_Items.tc9_et__Invoice_Total_Tax__c} *-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmNOW</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>frmPartialCredit</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!CountSelectedInvoiceItems} != {!CountTotalItems}, true, false
)</expression>
    </formulas>
    <formulas>
        <name>frmPTQty</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Pay_Transactions.tc9_pr__Quantity__c}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Invoice_Items.tc9_et__Quantity__c} *-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmReversalInvoiceTotalExTax</name>
        <dataType>Number</dataType>
        <expression>{!Loop_PT_Reversal_Collection.tc9_et__Invoice_Rate__c} * {!Loop_PT_Reversal_Collection.tc9_pr__Quantity__c}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>frmReversalInvoiceTotalIncTax</name>
        <dataType>Number</dataType>
        <expression>{!varCreateInvoiceItem.tc9_et__Invoice_Total_Ex_Tax__c} + {!varCreateInvoiceItem.tc9_et__Invoice_Total_Tax__c}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>frmReversalInvoiceTotalTax</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!Loop_PT_Reversal_Collection.tc9_et__Invoice_Taxable__c}) = &apos;No&apos;, 0, ({!Loop_PT_Reversal_Collection.tc9_et__Invoice_Tax_Rate__c} /100) * {!frmReversalInvoiceTotalExTax})</expression>
        <scale>6</scale>
    </formulas>
    <interviewLabel>Create Credit Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Credit Note</label>
    <loops>
        <name>Loop_Filtered_Invoice_Item_Record_Types</name>
        <label>Loop Filtered Invoice Item Record Types</label>
        <locationX>358</locationX>
        <locationY>2870</locationY>
        <collectionReference>Filter_Invoice_Item_Record_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Invoice_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_PT_Reversal_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filtered_Reversal_PT</name>
        <label>Loop Filtered Reversal PT</label>
        <locationX>358</locationX>
        <locationY>3794</locationY>
        <collectionReference>Filter_Reversal_Pay_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Reversal_PT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Reversed_Invoice_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Invoice_Items</name>
        <label>Loop Invoice Items</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <collectionReference>tableInvoiceItems.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Pay_Transactions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PT1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Pay_Transactions</name>
        <label>Loop Pay Transactions</label>
        <locationX>358</locationX>
        <locationY>1838</locationY>
        <collectionReference>Filter_Pay_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_PT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_PT_Reversal_Collection</name>
        <label>Loop PT Reversal Collection</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <collectionReference>PTCreateCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Invoice_Item_Record_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Reversed_Invoice_Items</name>
        <label>Loop Reversed Invoice Items</label>
        <locationX>182</locationX>
        <locationY>3578</locationY>
        <collectionReference>InvoiceItemCreateCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Reversal_Pay_Transactions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Reversal_PT1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Note</name>
        <label>Create Credit Note</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Loop_Invoice_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Invoice_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Credit_Reason__c</field>
            <value>
                <elementReference>Credit_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Credited_Date_Time__c</field>
            <value>
                <elementReference>frmNOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Delivery_Method__c</field>
            <value>
                <elementReference>Get_Invoice_Settings.tc9_et__Delivery_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Due_Date__c</field>
            <value>
                <elementReference>frmDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Has_Been_Credited__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Date__c</field>
            <value>
                <elementReference>frmNOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Email_CC__c</field>
            <value>
                <elementReference>Get_Invoice.tc9_et__Invoice_Email_CC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Entity__c</field>
            <value>
                <elementReference>Get_Invoice.tc9_et__Invoice_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_Setting__c</field>
            <value>
                <elementReference>Get_Invoice_Settings.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_To_Account__c</field>
            <value>
                <elementReference>Get_Invoice.tc9_et__Invoice_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Invoice_To_Contact__c</field>
            <value>
                <elementReference>Get_Invoice.tc9_et__Invoice_To_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Is_Credit_Record__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Original_Invoice__c</field>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Payment_Terms__c</field>
            <value>
                <elementReference>Get_Invoice_Settings.tc9_et__Payment_Terms__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_et__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice_Item</name>
        <label>Create Invoice Item</label>
        <locationX>182</locationX>
        <locationY>3470</locationY>
        <connector>
            <targetReference>Loop_Reversed_Invoice_Items</targetReference>
        </connector>
        <inputReference>InvoiceItemCreateCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PT1</name>
        <label>Create PT</label>
        <locationX>182</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Loop_PT_Reversal_Collection</targetReference>
        </connector>
        <inputReference>PTCreateCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Item_Record_Type</name>
        <label>Get Invoice Item Record Type</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_et__Invoice_Item__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Items</name>
        <label>Get Invoice Items</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pay_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceID</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Has_Been_Credited__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Has_Been_Re_invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Invoice_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Record_Type</name>
        <label>Get Invoice Record Type</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Item_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_et__Invoice__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmInvoiceRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Settings</name>
        <label>Get Invoice Settings</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Items</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>tc9_et__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.tc9_et__Invoice_To_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Invoice_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmInvoiceSettingType</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>frmNOW</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>frmNOW</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Invoice_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Credit_Notes</name>
        <label>Get New Credit Notes</label>
        <locationX>182</locationX>
        <locationY>4502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrComplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Credit_Note</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Transactions</name>
        <label>Get Pay Transactions</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrSelectInvoiceItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Items1</name>
        <label>Update Invoice Items</label>
        <locationX>182</locationX>
        <locationY>4286</locationY>
        <connector>
            <targetReference>Update_Original_Invoice</targetReference>
        </connector>
        <inputReference>InvoiceItemUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Invoice</name>
        <label>Update Original Invoice</label>
        <locationX>182</locationX>
        <locationY>4394</locationY>
        <connector>
            <targetReference>Get_New_Credit_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Been_Partially_Credited__c</field>
            <value>
                <elementReference>frmPartialCredit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Credited_Date_Time__c</field>
            <value>
                <elementReference>frmNOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Has_Been_Credited__c</field>
            <value>
                <elementReference>frmFullCredit</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_et__Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PT</name>
        <label>Update PT</label>
        <locationX>182</locationX>
        <locationY>3362</locationY>
        <connector>
            <targetReference>Create_Invoice_Item</targetReference>
        </connector>
        <inputReference>PTUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reversal_PT1</name>
        <label>Update Reversal PT</label>
        <locationX>182</locationX>
        <locationY>4178</locationY>
        <connector>
            <targetReference>Update_Invoice_Items1</targetReference>
        </connector>
        <inputReference>collectPTReversalUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>scrComplete</name>
        <label>scrComplete</label>
        <locationX>182</locationX>
        <locationY>4610</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtComplete</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;SUCCESS!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your credit note has now been created.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!frmDomain}/lightning/r/tc9_et__Invoice__c/{!Create_Credit_Note}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_New_Credit_Notes.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrNoneSelected</name>
        <label>scrNoneSelected</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Credit_Note</targetReference>
        </connector>
        <fields>
            <name>txtnoneselected</name>
            <fieldText>&lt;p&gt;No Invoice Items were selected, please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrSelectInvoiceItems</name>
        <label>scrSelectInvoiceItems</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>textt</targetReference>
        </connector>
        <fields>
            <name>Credit_Reason</name>
            <choiceReferences>choiceReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Credit Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtSelectInvoiceItems</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Select the Invoice Items to Credit&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>tableInvoiceItems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>tc9_et__Invoice_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Invoice Items to Credit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Invoice_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Employee_Name__c&quot;,&quot;guid&quot;:&quot;column-8b71&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Employee&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Employee Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;tc9_et__Entry_Date__c&quot;,&quot;guid&quot;:&quot;column-d965&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Entry Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Pay_Code_Name__c&quot;,&quot;guid&quot;:&quot;column-7b93&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Pay Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Pay Code Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;tc9_et__Quantity__c&quot;,&quot;guid&quot;:&quot;column-9dcf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;tc9_et__Invoice_Rate__c&quot;,&quot;guid&quot;:&quot;column-c584&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Invoice Rate&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;tc9_et__Invoice_Total_Ex_Tax__c&quot;,&quot;guid&quot;:&quot;column-cd83&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Invoice Total Ex. Tax&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>textt</name>
        <label>textt</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Items</targetReference>
        </connector>
        <fields>
            <name>SuretoCredit</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Are you sure you want to proceed with crediting the selected items?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finsh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectPTReversalUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>CountSelectedInvoiceItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountTotalItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Invoice_Item_Record_Types</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Pay_Transactions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Reversal_Pay_Transactions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>InvoiceItemCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Invoice_Item__c</objectType>
    </variables>
    <variables>
        <name>InvoiceItemUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Invoice_Item__c</objectType>
    </variables>
    <variables>
        <name>PTCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>PTUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreateInvoiceItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Invoice_Item__c</objectType>
    </variables>
    <variables>
        <name>varCreatePT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>varInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdateInvoiceItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Invoice_Item__c</objectType>
    </variables>
    <variables>
        <name>varUpdatePT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>varUpdateReversalPT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
</Flow>
