force-app/main/default/flows/Populate_Cross_Assignment_Group_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Cross_Assignment_Group_ID</name>
        <label>Set Cross Assignment Group ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.x2c9_Cross_Assignment_Group_By_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCrossAssignmentGroupID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assignment_Cross_Assignment_Group_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Allow_Cross_Assignment_Interpretation</name>
        <label>Allow Cross Assignment Interpretation?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Allow_Cross_Assignment_Interpretation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cross_Assignment_Group_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Allow_Cross_Assignment_Interpretation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Cross_Assignment_Group_ID</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaCrossAssignmentGroupID</name>
        <dataType>String</dataType>
        <expression>{!$Record.tc9_pr__Payee__r.Name} &amp; &apos;-&apos; &amp;
{!$Record.tc9_pr__Employee__r.FirstName} &amp; &apos; &apos; &amp;
{!$Record.tc9_pr__Employee__r.LastName}</expression>
    </formulas>
    <interviewLabel>Populate Cross Assignment Group ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2c9-Populate Cross Assignment Group ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_Cross_Assignment_Group_ID</name>
        <label>Clear Cross Assignment Group ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>x2c9_Cross_Assignment_Group_By_ID__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assignment_Cross_Assignment_Group_ID</name>
        <label>Update Assignment — Cross Assignment Group ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>x2c9_Cross_Assignment_Group_By_ID__c</field>
            <value>
                <elementReference>formulaCrossAssignmentGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Allow_Cross_Assignment_Interpretation</targetReference>
        </connector>
        <filterFormula>AND(
ISCHANGED({!$Record.Allow_Cross_Assignment_Interpretation__c}),
   {!$Record.RecordType.DeveloperName} &lt;&gt; &quot;Employee&quot;,
   {!$Record.RecordType.DeveloperName} &lt;&gt; &quot;Template&quot;
)</filterFormula>
        <object>tc9_pr__Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
