force-app/main/default/flows/United_States_Leave_Pay_out_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Resign_vs_Terminate</name>
        <label>Resign vs Terminate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>Resign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Cessation_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resignation</targetReference>
            </connector>
            <label>Resign</label>
        </rules>
        <rules>
            <name>Terminate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Cessation_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genuine Redundancy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Terminated</targetReference>
            </connector>
            <label>Terminate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resignation</name>
        <label>Resignation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resign_Immediate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payee.tc9_pr__Primary_Location__r.Resignation_Pay_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Immediate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resign_Update_Termination_Pay_Date_to_Now</targetReference>
            </connector>
            <label>Resign Immediate</label>
        </rules>
        <rules>
            <name>Resign_Early_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payee.tc9_pr__Primary_Location__r.Resignation_Pay_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payee.tc9_pr__Primary_Location__r.Resignation_Duration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resign_Update_Termination_Pay_Date_to_Early_Days</targetReference>
            </connector>
            <label>Resign Early - Days</label>
        </rules>
        <rules>
            <name>Resign_Early_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payee.tc9_pr__Primary_Location__r.Resignation_Pay_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payee.tc9_pr__Primary_Location__r.Resignation_Duration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resign_Update_Termination_Pay_Date_to_Early_hours</targetReference>
            </connector>
            <label>Resign Early - Hours</label>
        </rules>
        <rules>
            <name>Resign_Regular_Pay_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payee.tc9_pr__Primary_Location__r.Resignation_Pay_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular Pay Schedule</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resign_Get_Pay_Calendar</targetReference>
            </connector>
            <label>Resign Regular Pay Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Terminated</name>
        <label>Terminated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Immediate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payee.tc9_pr__Primary_Location__r.Termination_Pay_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Immediate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Termination_Pay_Date_to_Now</targetReference>
            </connector>
            <label>Immediate</label>
        </rules>
        <rules>
            <name>Early_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payee.tc9_pr__Primary_Location__r.Termination_Pay_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payee.tc9_pr__Primary_Location__r.Early_Pay_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Termination_Pay_Date_to_Early_Days</targetReference>
            </connector>
            <label>Early - Days</label>
        </rules>
        <rules>
            <name>Early_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payee.tc9_pr__Primary_Location__r.Termination_Pay_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payee.tc9_pr__Primary_Location__r.Early_Pay_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Termination_Pay_Date_to_Early_hours</targetReference>
            </connector>
            <label>Early - Hours</label>
        </rules>
        <rules>
            <name>Regular_Pay_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payee.tc9_pr__Primary_Location__r.Termination_Pay_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular Pay Schedule</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pay_Calendar</targetReference>
            </connector>
            <label>Regular Pay Schedule</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalendarTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Resign_Get_Pay_Calendar_Period.tc9_pr__Payment_Date__c} ) + &quot; 00:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>EarlyDays</name>
        <dataType>DateTime</dataType>
        <expression>NOW() +
IF(
  TEXT({!$Record.tc9_pr__Cessation_Category__c}) = &quot;Regular&quot;,
  {!$Record.tc9_pr__Payee__r.tc9_pr__Primary_Location__r.Resignation_Pay_Quantity__c},
 {!$Record.tc9_pr__Payee__r.tc9_pr__Primary_Location__r.Early_Pay_Quantity__c}
)</expression>
    </formulas>
    <formulas>
        <name>EarlyHours</name>
        <dataType>DateTime</dataType>
        <expression>NOW() +
IF(
  TEXT({!$Record.tc9_pr__Cessation_Category__c}) = &quot;Regular&quot;,
  ({!$Record.tc9_pr__Payee__r.tc9_pr__Primary_Location__r.Resignation_Pay_Quantity__c}/24),
 ( {!$Record.tc9_pr__Payee__r.tc9_pr__Primary_Location__r.Early_Pay_Quantity__c}/24)
)</expression>
    </formulas>
    <formulas>
        <name>TermcalendarPeriod</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Get_Pay_Calendar_Period.tc9_pr__Payment_Date__c} ) + &quot; 00:00:00&quot;)</expression>
    </formulas>
    <interviewLabel>United States - Leave Pay out Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>United States - Leave Pay out Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pay_Calendar</name>
        <label>Get Pay Calendar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pay_Calendar_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payee.tc9_pr__Schedule__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Payment_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payee.tc9_pr__Payment_Entity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Calendar__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Calendar_Period</name>
        <label>Get Pay Calendar Period</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Termination_Pay_Date_to_Regular_Pay_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Calendar__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pay_Calendar.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Cessation_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Cessation_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Calendar_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payee</name>
        <label>Get Payee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resign_vs_Terminate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Payee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Resign_Get_Pay_Calendar</name>
        <label>Resign Get Pay Calendar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resign_Get_Pay_Calendar_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payee.tc9_pr__Schedule__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Payment_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payee.tc9_pr__Payment_Entity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Calendar__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Resign_Get_Pay_Calendar_Period</name>
        <label>Resign Get Pay Calendar Period</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resign_Update_Termination_Pay_Date_to_Regular_Pay_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Calendar__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pay_Calendar.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Cessation_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Cessation_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Calendar_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Resign_Update_Termination_Pay_Date_to_Early_Days</name>
        <label>Resign - Update Termination Pay Date to &apos;Early Days&apos;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Termination_Pay_Date__c</field>
            <value>
                <elementReference>EarlyDays</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.tc9_pr__Payee__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Resign_Update_Termination_Pay_Date_to_Early_hours</name>
        <label>Resign - Update Termination Pay Date to &apos;Early hours&apos;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Termination_Pay_Date__c</field>
            <value>
                <elementReference>EarlyHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.tc9_pr__Payee__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Resign_Update_Termination_Pay_Date_to_Now</name>
        <label>Resign - Update Termination Pay Date to Now</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Termination_Pay_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.tc9_pr__Payee__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Resign_Update_Termination_Pay_Date_to_Regular_Pay_Schedule</name>
        <label>Resign Update Termination Pay Date to &apos;Regular Pay Schedule&apos;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Termination_Pay_Date__c</field>
            <value>
                <elementReference>CalendarTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.tc9_pr__Payee__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Termination_Pay_Date_to_Early_Days</name>
        <label>Update Termination Pay Date to &apos;Early Days&apos;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Termination_Pay_Date__c</field>
            <value>
                <elementReference>EarlyDays</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.tc9_pr__Payee__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Termination_Pay_Date_to_Early_hours</name>
        <label>Update Termination Pay Date to &apos;Early hours&apos;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Termination_Pay_Date__c</field>
            <value>
                <elementReference>EarlyHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.tc9_pr__Payee__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Termination_Pay_Date_to_Now</name>
        <label>Update Termination Pay Date to Now</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Termination_Pay_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.tc9_pr__Payee__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Termination_Pay_Date_to_Regular_Pay_Schedule</name>
        <label>Update Termination Pay Date to &apos;Regular Pay Schedule&apos;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Termination_Pay_Date__c</field>
            <value>
                <elementReference>TermcalendarPeriod</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.tc9_pr__Payee__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payee</targetReference>
        </connector>
        <filterFormula>AND(
    ISCHANGED({!$Record.tc9_pr__Calculation_Status__c}),
    TEXT({!$Record.tc9_pr__Calculation_Status__c}) = &quot;Confirmed&quot;,
   {!$Record.RecordType.DeveloperName} = &quot;Australia&quot;
)</filterFormula>
        <object>tc9_pr__Payee_Exit_Calculation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
