force-app/main/default/flows/United_States_Create_Default_Payment_Detail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values_to_Payment_Detail_Variable</name>
        <label>Assign Values to Payment Detail Variable</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>VarPaymentDetail.tc9_pr__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPaymentDetail.tc9_pr__Payee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPaymentDetail.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Detail_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPaymentDetail.tc9_pr__Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPaymentDetail.tc9_pr__Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPaymentDetail.tc9_pr__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPaymentDetail.tc9_pr__Distribution_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Balance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment_Detail</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>United States - Create Default Payment Detail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>United States - Create Default Payment Detail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Detail</name>
        <label>Create Payment Detail</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>VarPaymentDetail</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Payment_Detail_Record_Type</name>
        <label>Get Payment Detail Record Type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Payment_Detail_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Payment_Detail__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payee_Cash</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Detail_Record_Type</targetReference>
        </connector>
        <object>tc9_pr__Payee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarPaymentDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payment_Detail__c</objectType>
    </variables>
</Flow>
