force-app/main/default/flows/United_States_Pay_overtime_for_working_on_the_7th_consecutive_day.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Count</name>
        <label>Add Count</label>
        <locationX>996</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>TSECounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>has_hrs_worked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_create_OT1_5_Pay_Transaction</name>
        <label>Assign Values to create OT1.5 Pay Transaction</label>
        <locationX>314</locationX>
        <locationY>2388</locationY>
        <assignmentItems>
            <assignToReference>VarPayTransaction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pay_Transactions_for_the_First_TSE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Pay_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_Rate_OT_1_5.tc9_pr__Pay_code__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Entry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_last_TSE.tc9_et__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overtime on the 7th consecutive day worked</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarMultiplePT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarPayTransaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_create_OT2_0_Pay_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_create_OT2_0_Pay_Transaction</name>
        <label>Assign Values to create OT2.0 Pay Transaction</label>
        <locationX>314</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>VarPayTransaction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pay_Transactions_for_the_First_TSE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Pay_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_Rate_OT_2_0.tc9_pr__Pay_code__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extrahrs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Entry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_last_TSE.tc9_et__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overtime on the 7th consecutive day worked</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarMultiplePT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarPayTransaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Values_to_create_OT1_5_Pay_Transaction</name>
        <label>Copy 1 of Assign Values to create OT1.5 Pay Transaction</label>
        <locationX>578</locationX>
        <locationY>2388</locationY>
        <assignmentItems>
            <assignToReference>VarPayTransaction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pay_Transactions_for_the_First_TSE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Pay_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_Rate_OT_1_5.tc9_pr__Pay_code__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_last_TSE.tc9_et__Total_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Entry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_last_TSE.tc9_et__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overtime on the 7th consecutive day worked</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PT_for_OT1_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Values_to_create_OT2_0_Pay_Transaction</name>
        <label>Assign Values to create OT2.0 Pay Transaction</label>
        <locationX>50</locationX>
        <locationY>2280</locationY>
        <assignmentItems>
            <assignToReference>VarPayTransaction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pay_Transactions_for_the_First_TSE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Pay_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_Rate_OT_2_0.tc9_pr__Pay_code__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_last_TSE.tc9_et__Total_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Entry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_last_TSE.tc9_et__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPayTransaction.tc9_pr__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overtime on the 7th consecutive day worked</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_PT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_worked_TSE</name>
        <label>Count worked TSE</label>
        <locationX>864</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>ValidTSECounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_timesheet_entries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Interpretation_Rule_7th_Day_Value</name>
        <label>Check Interpretation Rule 7th Day Value</label>
        <locationX>446</locationX>
        <locationY>2064</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Anthem_California</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Interpretation_Rule.tc9_et__Interpretation_Rule__r.X7th_Consecutive_Day_Work_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All hours at 2x</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Delete_Pay_transactions</targetReference>
            </connector>
            <label>Anthem - California</label>
        </rules>
        <rules>
            <name>if_California_Standard_OR_Puerto_Rico_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Interpretation_Rule.tc9_et__Interpretation_Rule__r.X7th_Consecutive_Day_Work_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First 2 hours at 1.5x, rest at 2x</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hours_greater_than_8</targetReference>
            </connector>
            <label>if California Standard OR Puerto Rico - Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Interpretation_Rule_have_a_7th_Day_Picklist_Value</name>
        <label>Does the Interpretation Rule have a 7th Day Picklist Value?</label>
        <locationX>1073</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_et__Interpretation_Rule__r.X7th_Consecutive_Day_Work_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_timesheet_entries</targetReference>
            </connector>
            <label>Has Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Equals_7_days_worked</name>
        <label>Equals 7 days worked?</label>
        <locationX>776</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>Less than 7 days</defaultConnectorLabel>
        <rules>
            <name>Worked_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSECounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ValidTSECounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_first_TSE</targetReference>
            </connector>
            <label>Worked 7 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_hrs_worked</name>
        <label>has hrs worked?</label>
        <locationX>996</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Loop_through_timesheet_entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_timesheet_entries.tc9_et__Total_Hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_worked_TSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hours_greater_than_8</name>
        <label>Hours greater than 8?</label>
        <locationX>446</locationX>
        <locationY>2172</locationY>
        <defaultConnector>
            <targetReference>Delete_Pay_Transactions1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 8 hrs</defaultConnectorLabel>
        <rules>
            <name>More_than_8hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_last_TSE.tc9_et__Total_Hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Pay_transactions</targetReference>
            </connector>
            <label>More than 8hrs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Extrahrs</name>
        <dataType>Number</dataType>
        <expression>{!Get_last_TSE.tc9_et__Total_Hours__c} - 8</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>US - 7 comsecutive dayes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>United States - Pay overtime for working on the 7th consecutive day.</label>
    <loops>
        <name>Loop_through_timesheet_entries</name>
        <label>Loop through timesheet entries</label>
        <locationX>776</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_timesheet_entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Equals_7_days_worked</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_PT</name>
        <label>Create PT</label>
        <locationX>50</locationX>
        <locationY>2388</locationY>
        <inputReference>VarPayTransaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PT</name>
        <label>Create PT</label>
        <locationX>314</locationX>
        <locationY>2604</locationY>
        <inputReference>VarMultiplePT</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PT_for_OT1_5</name>
        <label>Create PT for OT1.5</label>
        <locationX>578</locationX>
        <locationY>2496</locationY>
        <inputReference>VarPayTransaction</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Copy_2_of_Delete_Pay_transactions</name>
        <label>Delete Pay transactions</label>
        <locationX>50</locationX>
        <locationY>2172</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Values_to_create_OT2_0_Pay_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet_Entry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_last_TSE.Id</elementReference>
            </value>
        </filters>
        <object>tc9_pr__Pay_Transaction__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Pay_transactions</name>
        <label>Delete Pay transactions</label>
        <locationX>314</locationX>
        <locationY>2280</locationY>
        <connector>
            <targetReference>Assign_Values_to_create_OT1_5_Pay_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet_Entry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_last_TSE.Id</elementReference>
            </value>
        </filters>
        <object>tc9_pr__Pay_Transaction__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Pay_Transactions1</name>
        <label>Delete Pay Transactions</label>
        <locationX>578</locationX>
        <locationY>2280</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Values_to_create_OT1_5_Pay_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet_Entry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_last_TSE.Id</elementReference>
            </value>
        </filters>
        <object>tc9_pr__Pay_Transaction__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Assignment_Rate_OT_1_5</name>
        <label>Get Assignment Rate OT 1.5</label>
        <locationX>446</locationX>
        <locationY>1740</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OT_2_0_Pay_code</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6 AND 7</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Assignment__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OT_1_5_Pay_code.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Project_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignment_Rate_OT_2_0</name>
        <label>Get Assignment Rate OT 2.0</label>
        <locationX>446</locationX>
        <locationY>1956</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Interpretation_Rule_7th_Day_Value</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6 AND 7</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Assignment__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OT_2_0_Pay_code.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>tc9_pr__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Project_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_first_TSE</name>
        <label>Get first TSE</label>
        <locationX>446</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pay_Transactions_for_the_First_TSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Entry__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Interpretation_Rule</name>
        <label>Get Interpretation Rule</label>
        <locationX>446</locationX>
        <locationY>1524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OT_1_5_Pay_code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Interpretation_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_et__Interpretation_Rule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_last_TSE</name>
        <label>Get last TSE</label>
        <locationX>446</locationX>
        <locationY>1416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Interpretation_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sunday</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Total_Hours__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Entry__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OT_1_5_Pay_code</name>
        <label>Get OT 1.5 Pay code</label>
        <locationX>446</locationX>
        <locationY>1632</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment_Rate_OT_1_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Overtime x 1.50</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Pay_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OT_2_0_Pay_code</name>
        <label>Get OT 2.0 Pay code</label>
        <locationX>446</locationX>
        <locationY>1848</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment_Rate_OT_2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Double Time x 2.00</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Pay_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Transactions_for_the_First_TSE</name>
        <label>Get Pay Transactions for the First TSE</label>
        <locationX>446</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_last_TSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Timesheet_Entry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_first_TSE.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Pay_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_timesheet_entries</name>
        <label>Get timesheet entries</label>
        <locationX>776</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_timesheet_entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Timesheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Entry__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>303</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <object>tc9_et__Timesheet__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Does_the_Interpretation_Rule_have_a_7th_Day_Picklist_Value</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Interpretation_Breakpoint__c</objectType>
    </variables>
    <variables>
        <name>LastTSERecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>tc9_et__Timesheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>TSECounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ValidTSECounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarDoubleTimePayCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarMultiplePT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
    <variables>
        <name>VarOvertimePayCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPayTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Pay_Transaction__c</objectType>
    </variables>
</Flow>
