force-app/main/default/flows/United_States_Corporate_New_Hire_Leave_Allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Hours_to_PLE</name>
        <label>Assign Hours to PLE</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>VarPLE.tc9_pr__Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateLeaveGrant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PLE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hours_to_PLE_Adjusted</name>
        <label>Assign Hours to PLE - Adjusted</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>VarPLE.tc9_pr__Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_the_leave_hours_to_be_granted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PLE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_PLE_Variables</name>
        <label>Assign Values to PLE Variables</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VarPLE.tc9_pr__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPLE.tc9_pr__Payee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_Schedule.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPLE.tc9_pr__Payee_Leave_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PLRDataTable.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPLE.tc9_pr__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_Schedule.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPLE.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PLE_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPLE.tc9_pr__Employee_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Hire leave Grant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPLE.tc9_pr__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPLE.tc9_pr__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPLE.tc9_pr__Selected_Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard Pay</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPLE.tc9_pr__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPLE.tc9_pr__Skip_Manager_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Leave_Rule_Items</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Adjust_Leave_Balance</name>
        <label>Adjust Leave Balance</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assign_Hours_to_PLE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adjust_Leave_Balance1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hours_to_PLE_Adjusted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Assignment_Schedule</name>
        <label>Found Assignment Schedule?</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Founf</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assignment_Schedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payee_Leave_Rules</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Payee_Leave_Rules</name>
        <label>Found Payee Leave Rules?</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Error1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_PLR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payee_Leave_Rules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DataTablePLR</targetReference>
            </connector>
            <label>Found PLR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateLeaveGrant</name>
        <dataType>Number</dataType>
        <expression>(({!Get_Assignment_Schedule.tc9_pr__Work_Schedule__r.tc9_pr__Work_Schedule_Total_Time__c} - {!Get_Assignment_Schedule.tc9_pr__Work_Schedule__r.tc9_pr__Work_Schedule_Total_Breaks__c}) /5) * 
CASE(
  MONTH({!Get_Assignment_Schedule.tc9_pr__Payee__r.tc9_pr__Payroll_Start_Date__c}),
  1, {!Get_Leave_Rule_Items.Leave_Grant_in_days__c},
  2, {!Get_Leave_Rule_Items.Feb_Dec_in_Days__c},
 3, {!Get_Leave_Rule_Items.Marc_Dec_in_days__c},
  4, {!Get_Leave_Rule_Items.Apr_Dec_in_days__c},
  5, {!Get_Leave_Rule_Items.May_Dec_in_days__c},
  6, {!Get_Leave_Rule_Items.Jun_Dec_in_days__c},
  7, {!Get_Leave_Rule_Items.July_Dec_in_days__c},
  8, {!Get_Leave_Rule_Items.Aug_Dec_in_days__c},
  9, {!Get_Leave_Rule_Items.Sep_Dec_in_days__c},
  10, {!Get_Leave_Rule_Items.Oct_Dec_in_days__c},
  11, {!Get_Leave_Rule_Items.Nov_Dec_in_days__c},
  12, {!Get_Leave_Rule_Items.Dec_Hire__c},
0
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>United States - Create Leave Event for Corp New Hire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>United States - Corporate New Hire Leave Allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PLE</name>
        <label>Create PLE</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>VarPLE</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assignment_Schedule</name>
        <label>Get Assignment Schedule</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Assignment_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leave_Rule_Items</name>
        <label>Get Leave Rule Items</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GrantMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Leave_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PLRDataTable.outputSelectedRow.tc9_pr__Leave_Rule__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pro_rate_leave_in_the_first_year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Service_Starts_At__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Service_Ends_At__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Leave_Rule_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payee_Leave_Rules</name>
        <label>Get Payee Leave Rules</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Payee_Leave_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment_Schedule.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Payee_Leave_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PLE_Record_Type</name>
        <label>Get PLE Record Type</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_PLE_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Payee_Leave_Event__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leave Credit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DataTablePLR</name>
        <label>DataTablePLR</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_PLE_Record_Type</targetReference>
        </connector>
        <fields>
            <name>LeaveRuleSelection</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;Select the leave rule for which you want to grant the leave balance&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PLRDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>tc9_pr__Payee_Leave_Rule__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>tc9_pr__Payee_Leave_Rule__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Payee_Leave_Rules</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Leave_Rule_Name__c,Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Leave_Rule_Name__c:0, Name:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAssignmentSchedule</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: verdana; color: rgb(244, 8, 8);&quot;&gt;I&apos;m sorry - Please create an assignment schedule to enable leave grant creation. This is required to calculate and allocate the correct balance. The employee will see their leave balance after the first payroll is processed in the pay batch.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error1</name>
        <label>Error1</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoPLRs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: verdana; color: rgb(255, 0, 0);&quot;&gt;Error - No payee leave rules are set up for this employee. Please create the applicable leave rules and try again&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GrantMessage</name>
        <label>GrantMessage</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Adjust_Leave_Balance</targetReference>
        </connector>
        <fields>
            <name>LeaveGrantMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: verdana; font-size: 16px;&quot;&gt;The Leave Grant based on the hire date and work schedule is &lt;/span&gt;&lt;strong style=&quot;font-family: verdana; font-size: 16px;&quot;&gt;{!CalculateLeaveGrant} hours&lt;/strong&gt;&lt;span style=&quot;font-family: verdana; font-size: 16px;&quot;&gt;. &lt;/span&gt;&lt;span style=&quot;font-family: verdana; font-size: medium; color: rgb(0, 0, 0);&quot;&gt;To make changes, please select the option below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Adjust_Leave_Balance1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Adjust Leave Balance</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Enter_the_leave_hours_to_be_granted</name>
            <dataType>Number</dataType>
            <fieldText>Enter the leave hours to be granted</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Adjust_Leave_Balance1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sucess11</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;T&lt;/span&gt;&lt;span style=&quot;font-family: verdana; font-size: 16px;&quot;&gt;he Leave grant has been created in the system and will be processed and will be processed with the Employee&apos;s first pay run. Click &lt;/span&gt;&lt;a href=&quot;https://epic-3b.lightning.force.com/lightning/r/tc9_pr__Payee_Leave_Event__c/{!VarPLE.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: verdana; font-size: 16px;&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;font-family: verdana; font-size: 16px;&quot;&gt; to view the newly created leave grant and make adjustments if needed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assignment_Schedule</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPLE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tc9_pr__Payee_Leave_Event__c</objectType>
    </variables>
</Flow>
