force-app/main/default/flows/United_States_Leave_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_PLR_ID</name>
        <label>Add PLR ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PayeeLeaveRuleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Payee_Aggregates.tc9_pr__Payee_Leave_Rule__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Balance</name>
        <label>Assign Current Balance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PLRSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Payee_Aggregates.tc9_pr__Payee_Leave_Rule__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLRSingle.tc9_pr__Current_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Payee_Aggregates.tc9_pr__Leave_Closing_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MultiplePLR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PLRSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Payee_Aggregates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Latest</name>
        <label>Latest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_PLR_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Contain</defaultConnectorLabel>
        <rules>
            <name>Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PayeeLeaveRuleCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_Payee_Aggregates.tc9_pr__Payee_Leave_Rule__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Payee_Aggregates</targetReference>
            </connector>
            <label>Contains</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>United States - Leave Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>United States - Leave Update</label>
    <loops>
        <name>Loop_through_Payee_Aggregates</name>
        <label>Loop through Payee Aggregates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Payee_Aggregates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Latest</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PLR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Payee_Pay_Batch</name>
        <label>Get All Payee Pay Batch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Pay_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Pay_Batch_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Payees_in_Payee_leave_Rules</name>
        <label>Get all Payees in Payee leave Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Payee_Leave_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Payee_Aggregates</name>
        <label>Payee Aggregates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Payee_Aggregates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Payee_Leave_Rule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Assign_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Pay_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Payee_Aggregate__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PLR</name>
        <label>Update PLR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>MultiplePLR</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Payee_Pay_Batch</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finalised</stringValue>
            </value>
        </filters>
        <object>tc9_pr__Pay_Batch__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Payee_Aggregates</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_all_Payees_in_Payee_leave_Rules[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform</name>
        <label>Transform</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Payees_in_Payee_leave_Rules</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_All_Payee_Pay_Batch[$EachItem].tc9_pr__Payee__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>MultiplePLR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Leave_Rule__c</objectType>
    </variables>
    <variables>
        <name>PayeeLeaveRuleCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PLRSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Leave_Rule__c</objectType>
    </variables>
</Flow>
