force-app/main/default/flows/United_States_Leave_Reset_Rollover_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Create_PLE_to_adjust_hours</name>
        <label>Copy 1 of Create PLE to adjust hours</label>
        <locationX>138</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Payee_Leave_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Payee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payee_Leave_Event_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Employee_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Leave granted according to company policy and years of service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Selected_Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard Pay</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Skip_Manager_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Approved_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.Reset_Leave_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Leave_Credit_for_the_new_year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_PLE_to_adjust_hours</name>
        <label>Create PLE to adjust hours</label>
        <locationX>490</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.tc9_pr__Payee_Leave_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.tc9_pr__Payee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.tc9_pr__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.tc9_pr__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payee_Leave_Event_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.tc9_pr__Employee_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Carryover Balance Adjustment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.tc9_pr__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.tc9_pr__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.tc9_pr__Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMINUSCarryoverhrs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.tc9_pr__Selected_Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard Pay</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.tc9_pr__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.tc9_pr__Skip_Manager_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.tc9_pr__Approved_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.Reset_Leave_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payee_Leave_Event_to_Reset_Leave_Balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_PLE_to_adjust_hours1</name>
        <label>Create PLE to adjust hours</label>
        <locationX>754</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Payee_Leave_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Payee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payee_Leave_Event_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Employee_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Leave granted according to company policy and years of service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_leave_Items_for_hrs.tc9_pr__Accrual_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Selected_Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard Pay</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Skip_Manager_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PLEgrant.tc9_pr__Approved_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeLeaveEvent.Reset_Leave_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Grant</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Leave_Rule_Item_falls_within_the_service_period</name>
        <label>Leave Rule Item falls within the service period</label>
        <locationX>886</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Create_New_Grant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculateYearsOfService</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_leave_Items_for_hrs.tc9_pr__Service_Starts_At__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CalculateYearsOfService</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_through_leave_Items_for_hrs.tc9_pr__Service_Ends_At__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PLE_to_adjust_hours1</targetReference>
            </connector>
            <label>Copy 1 of Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Balance_Equal_or_more_than_the_Rest_Balance</name>
        <label>Is Current Balance Equal or more than the Rest Balance?</label>
        <locationX>798</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Current Balance is less than the carry over</defaultConnectorLabel>
        <rules>
            <name>Current_Balance_is_more_than_the_carry_over</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Current_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Carryover_Units__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payee_Leave_Event_Record_Type</targetReference>
            </connector>
            <label>Current Balance is more than the carry over</label>
        </rules>
    </decisions>
    <decisions>
        <name>Leave_Rule_Item_falls_within_the_service_period</name>
        <label>Leave Rule Item falls within the service period</label>
        <locationX>270</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Create_Leave_Credit_for_the_new_year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculateYearsOfService</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_leave_rule_item.tc9_pr__Service_Starts_At__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CalculateYearsOfService</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_through_leave_rule_item.tc9_pr__Service_Ends_At__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_PLE_to_adjust_hours</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salaried_Employee</name>
        <label>Salaried Employee?</label>
        <locationX>490</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Stamp_processing_date_time_on_Payee_Leave_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Salaried_Leave_grant_in_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Assignment.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carryover_Units__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Anniversary_Treatment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reset - Calendar Year</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Work_Schedule</targetReference>
            </connector>
            <label>Salaried - Leave grant in hours</label>
        </rules>
        <rules>
            <name>Leave_Grant_in_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Assignment.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carryover_Units__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carryover_After_Reset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Leave_Rule_Items_for_hrs_grant</targetReference>
            </connector>
            <label>Leave Grant in Hours</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateYearsOfService</name>
        <dataType>Number</dataType>
        <expression>FLOOR(
  (
    DATE(YEAR(TODAY()), 1, 1) -  {!$Record.tc9_pr__Payee__r.tc9_pr__Payroll_Start_Date__c} 
  ) / 365
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentMINUSCarryoverhrs</name>
        <dataType>Number</dataType>
        <expression>-ABS ({!$Record.tc9_pr__Current_Balance__c} - {!$Record.Carryover_Units__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Hours</name>
        <dataType>Number</dataType>
        <expression>(({!Get_Active_Work_Schedule.tc9_pr__Work_Schedule__r.tc9_pr__Work_Schedule_Total_Time__c} - {!Get_Active_Work_Schedule.tc9_pr__Work_Schedule__r.tc9_pr__Work_Schedule_Total_Breaks__c}) /5) * 
{!Loop_through_leave_rule_item.Leave_Grant_in_days__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>United States - Leave Reset &amp; Rollover Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>United States - Leave Reset &amp; Rollover Scheduled</label>
    <loops>
        <name>Loop_through_leave_Items_for_hrs</name>
        <label>Loop through leave Items for hrs</label>
        <locationX>666</locationX>
        <locationY>1008</locationY>
        <collectionReference>Get_Leave_Rule_Items_for_hrs_grant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Leave_Rule_Item_falls_within_the_service_period</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Stamp_processing_date_time_on_Payee_Leave_Rule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_leave_rule_item</name>
        <label>Loop through leave rule item</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <collectionReference>Get_Leave_Rule_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Leave_Rule_Item_falls_within_the_service_period</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Stamp_processing_date_time_on_Payee_Leave_Rule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Leave_Credit_for_the_new_year</name>
        <label>Create Leave Credit for the new year</label>
        <locationX>270</locationX>
        <locationY>1524</locationY>
        <connector>
            <targetReference>Loop_through_leave_rule_item</targetReference>
        </connector>
        <inputReference>PLEgrant</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Grant</name>
        <label>Create New Grant</label>
        <locationX>886</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>Loop_through_leave_Items_for_hrs</targetReference>
        </connector>
        <inputReference>PLEgrant</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payee_Leave_Event_to_Reset_Leave_Balance</name>
        <label>Create Payee Leave Event to Reset Leave Balance</label>
        <locationX>490</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Salaried_Employee</targetReference>
        </connector>
        <inputReference>PayeeLeaveEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Assignment</name>
        <label>Get Active Assignment</label>
        <locationX>490</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PLE_to_adjust_hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Assignment_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Assignment_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Work_Schedule</name>
        <label>Get Active Work Schedule</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Leave_Rule_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Assignment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leave_Rule_Items</name>
        <label>Get Leave Rule Items</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_leave_rule_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Leave_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Leave_Rule__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Accrual_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leave Grant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Leave_Grant_in_days__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Leave_Rule_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leave_Rule_Items_for_hrs_grant</name>
        <label>Get Leave Rule Items for hrs grant</label>
        <locationX>666</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_leave_Items_for_hrs</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Leave_Grant_in_days__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Leave_Grant_in_days__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Accrual_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leave Grant</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Accrual_Rate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Accrual_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_pr__Leave_Rule_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payee_Leave_Event_Record_Type</name>
        <label>Get Payee Leave Event Record Type</label>
        <locationX>490</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Payee_Leave_Event__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leave_Credit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Stamp_processing_date_time_on_Payee_Leave_Rule</name>
        <label>Stamp processing date/time on Payee Leave Rule</label>
        <locationX>490</locationX>
        <locationY>1800</locationY>
        <inputAssignments>
            <field>Last_Leave_Adjustment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Current_Balance_Equal_or_more_than_the_Rest_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Leave_Reset_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Carryover_After_Reset__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Carryover_Units__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>tc9_pr__Payee_Leave_Rule__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-24</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PayeeLeaveEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Leave_Event__c</objectType>
    </variables>
    <variables>
        <name>PLEgrant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>tc9_pr__Payee_Leave_Event__c</objectType>
    </variables>
</Flow>
