force-app/main/default/flows/United_States_Reinstatement_of_Leave_Balance_for_Rehires.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Variables_to_create_new_Payee_Leave_Event</name>
        <label>Assign Variables to create new Payee Leave Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Payee_Leave_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Payee_Leave_Rule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Payee_Leave_Rule.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Payee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Payee_Leave_Rule.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_for_New_Payee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Leave_Credit_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Processing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payroll_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payroll_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Hours__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Part_Day_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Selected_Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard Pay</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPLE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarNewLeaveCredit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Variables_to_Zero_out_old_PLR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_to_Zero_out_old_PLR</name>
        <label>Assign Variables to Zero out old PLR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Payee_Leave_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Old_Payee_Leave_Rules.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Old_Payee_Leave_Rules.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Payee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Old_Payee_Leave_Rules.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Old_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Leave_Credit_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Processing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Old_Payee.tc9_pr__Cessation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Old_Payee.tc9_pr__Cessation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldBalance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Part_Day_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Selected_Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard Pay</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewLeaveCredit.tc9_pr__Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPLE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarNewLeaveCredit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payee_Leave_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Meets_Reinstatement_Criteria</name>
        <label>Meets Reinstatement Criteria?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Doesn&apos;t meet the criteria</defaultConnectorLabel>
        <rules>
            <name>Criteria_met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Payee_Leave_Rules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRehire</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Old_Leave_Rule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Assignment</targetReference>
            </connector>
            <label>Criteria met</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Payee_Leave_Rule_Exist</name>
        <label>New Payee Leave Rule Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Payee_Leave_Rule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Assignment_for_New_Payee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Old_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Leave_Credit_Record_Type</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Payee_Exist</name>
        <label>Old Payee Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Payee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Payee_Leave_Rules</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsRehire</name>
        <dataType>Boolean</dataType>
        <expression>IF(
  OR(
    ISBLANK({!Get_Old_Payee.tc9_pr__Cessation_Date__c}),
    ISBLANK({!$Record.tc9_pr__Payroll_Start_Date__c}),
    ISBLANK({!Get_Old_Leave_Rule.Reinstatement_After_Units__c}),
    ISBLANK(TEXT({!Get_Old_Leave_Rule.Reinstatement_After_Period__c}))
  ),
  FALSE,
  IF(
    TEXT({!Get_Old_Leave_Rule.Reinstatement_After_Period__c}) = &quot;Days&quot;,
    {!$Record.tc9_pr__Payroll_Start_Date__c} &lt;= 
      {!Get_Old_Payee.tc9_pr__Cessation_Date__c} + {!Get_Old_Leave_Rule.Reinstatement_After_Units__c},
    IF(
      TEXT({!Get_Old_Leave_Rule.Reinstatement_After_Period__c}) = &quot;Weeks&quot;,
      {!$Record.tc9_pr__Payroll_Start_Date__c} &lt;= 
        {!Get_Old_Payee.tc9_pr__Cessation_Date__c} + ({!Get_Old_Leave_Rule.Reinstatement_After_Units__c} * 7),
      IF(
        TEXT({!Get_Old_Leave_Rule.Reinstatement_After_Period__c}) = &quot;Months&quot;,
        {!$Record.tc9_pr__Payroll_Start_Date__c} &lt;= 
          ADDMONTHS({!Get_Old_Payee.tc9_pr__Cessation_Date__c}, {!Get_Old_Leave_Rule.Reinstatement_After_Units__c}),
        IF(
          TEXT({!Get_Old_Leave_Rule.Reinstatement_After_Period__c}) = &quot;Years&quot;,
          {!$Record.tc9_pr__Payroll_Start_Date__c} &lt;= 
            ADDMONTHS({!Get_Old_Payee.tc9_pr__Cessation_Date__c}, {!Get_Old_Leave_Rule.Reinstatement_After_Units__c} * 12),
          FALSE
        )
      )
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>OldBalance</name>
        <dataType>Number</dataType>
        <expression>- ({!Get_Old_Payee_Leave_Rules.Leave_Balance__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>United States - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>United States -  Reinstatement of Leave Balance for Rehires</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payee_Leave_Event</name>
        <label>Create Payee Leave Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Leave_Balance_Reinstated_on_New_Payee</targetReference>
        </connector>
        <inputReference>VarPLE</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assignment_for_New_Payee</name>
        <label>Get Assignment for New Payee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Payee_Leave_Rule_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leave_Credit_Record_Type</name>
        <label>Get Leave Credit Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Variables_to_create_new_Payee_Leave_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_pr__Payee_Leave_Event__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leave_Credit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Payee_Leave_Rule</name>
        <label>Get New Payee Leave Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment_for_New_Payee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_pr__Leave_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Payee_Leave_Rules.tc9_pr__Leave_Rule__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Payee_Leave_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Assignment</name>
        <label>Get Old Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Payee_Leave_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Payee.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Leave_Rule</name>
        <label>Get Old Leave Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Meets_Reinstatement_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Payee_Leave_Rule.tc9_pr__Leave_Rule__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Leave_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Payee</name>
        <label>Get Old Payee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_Payee_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Leave_Balance_Reinstated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Payee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Payee_Leave_Rules</name>
        <label>Get Old Payee Leave Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Old_Leave_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Payee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Leave_Balance__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Reinstate_Leave_Balance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Payee_Leave_Rule__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Leave_Balance_Reinstated_on_New_Payee</name>
        <label>Update &apos;Leave Balance Reinstated&apos; on New Payee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Leave_Balance_Reinstated_on_Old_Payee</targetReference>
        </connector>
        <inputAssignments>
            <field>Leave_Balance_Reinstated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Leave_Balance_Reinstated_on_Old_Payee</name>
        <label>Update &apos;Leave Balance Reinstated&apos; on Old Payee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Payee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Leave_Balance_Reinstated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>tc9_pr__Payee__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Old_Payee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_pr__Leave_Template__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Leave_Balance_Reinstated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>tc9_pr__Payee__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-19</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarNewLeaveCredit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Leave_Event__c</objectType>
    </variables>
    <variables>
        <name>VarPLE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Leave_Event__c</objectType>
    </variables>
    <variables>
        <name>VarPLR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_pr__Payee_Leave_Rule__c</objectType>
    </variables>
</Flow>
