force-app/main/default/flows/United_States_Zero_out_hours_for_Payee_Leave_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reverse_approved_Timesheet</name>
        <label>Reverse approved Timesheet</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <actionName>tc9_util__TimesheetAdjustmentBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_timesheets</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>tc9_util__TimesheetAdjustmentBatch</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values_to_TSE_fields</name>
        <label>Assign Values to TSE fields</label>
        <locationX>138</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>VarTSE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_timesheet_entries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Submitted_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.Start_Time_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.End_Time_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Total_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_1_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Employee_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_2_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_1_Start_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_1_End_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_2_Start_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_2_End_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Start_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__End_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurTSE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarTSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_timesheet_entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_TSE_fields2</name>
        <label>Assign Values to TSE fields2</label>
        <locationX>402</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>VarTSE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_timesheet_entries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Submitted_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.End_Time_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Time_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_1_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_2_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_1_Start_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_1_End_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_2_Start_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_2_End_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurTSE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarTSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_timesheet_entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_TSE_fields3</name>
        <label>Assign Values to TSE fields3</label>
        <locationX>666</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>VarTSE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_timesheet_entries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Submitted_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.Start_Time_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Time_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_1_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_2_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_1_Start_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_1_End_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_2_Start_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Break_2_End_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurTSE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarTSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_timesheet_entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_TSE_fields4</name>
        <label>Assign Values to TSE fields4</label>
        <locationX>930</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>VarTSE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_timesheet_entries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approval_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Submitted_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Start_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__End_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Total_Hours__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_on_Behalf_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_on_Behalf_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTSE.tc9_et__Approved_Rejected_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurTSE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarTSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_timesheet_entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_TSE_fields5</name>
        <label>Assign Values to TSE fields5</label>
        <locationX>1194</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>varSECONDTimesheetEntry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_timesheet_entries</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSECONDTimesheetEntry.Start_Time_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Time_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSECONDTimesheetEntry.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFIRSTtimesheetEntry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_timesheet_entries</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFIRSTtimesheetEntry.End_Time_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Time_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>1194</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>varFIRSTtimesheetEntry.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_timesheet_entries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFIRSTtimesheetEntry.tc9_et__Break_1_Start_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFIRSTtimesheetEntry.tc9_et__Break_1_End_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFIRSTtimesheetEntry.tc9_et__Break_1_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurTSE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFIRSTtimesheetEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Timesheet_Entry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Timesheet_Status</name>
        <label>Check Timesheet Status</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_through_timesheets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_or_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_timesheets.tc9_et__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Timesheet_Reversal_Due_to_Leave_Field</targetReference>
            </connector>
            <label>Approved or Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Timesheet</name>
        <label>Found Timesheet?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Timesheets_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Timesheets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_timesheets</targetReference>
            </connector>
            <label>Timesheets Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Leave_Span</name>
        <label>Leave Span</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Timesheet_Entries1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Days</defaultConnectorLabel>
        <rules>
            <name>Single_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tc9_pr__Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.tc9_pr__End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Time_Number__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_timesheet_entries</targetReference>
            </connector>
            <label>Single Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_Day_Leave_Type</name>
        <label>Single Day Leave Type</label>
        <locationX>798</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Loop_through_timesheet_entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Day_Leave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Time_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Time_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_TSE_fields</targetReference>
            </connector>
            <label>Full Day Leave</label>
        </rules>
        <rules>
            <name>TSE_End_time_in_PLE_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_timesheet_entries.End_Time_Number__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.End_Time_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_timesheet_entries.End_Time_Number__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Start_Time_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_timesheet_entries.Start_Time_Number__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Start_Time_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_TSE_fields2</targetReference>
            </connector>
            <label>TSE End time in PLE period</label>
        </rules>
        <rules>
            <name>TSE_Start_time_in_PLE_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_timesheet_entries.Start_Time_Number__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Start_Time_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_timesheet_entries.Start_Time_Number__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.End_Time_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_timesheet_entries.End_Time_Number__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.End_Time_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_TSE_fields3</targetReference>
            </connector>
            <label>TSE Start time in PLE period</label>
        </rules>
        <rules>
            <name>TSE_Start_and_End_within_PLE_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_timesheet_entries.Start_Time_Number__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Start_Time_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_timesheet_entries.End_Time_Number__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.End_Time_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Time_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_TSE_fields4</targetReference>
            </connector>
            <label>TSE Start and End within PLE period</label>
        </rules>
        <rules>
            <name>TSE_Start_and_End_fall_either_side_of_PLE_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_timesheet_entries.Start_Time_Number__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Start_Time_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_timesheet_entries.End_Time_Number__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.End_Time_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_TSE_fields5</targetReference>
            </connector>
            <label>TSE Start and End fall either side of PLE period</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmployeeNotes</name>
        <dataType>String</dataType>
        <expression>{!$Record.tc9_pr__Payee_Leave_Rule__r.tc9_pr__Leave_Rule__r.Name}</expression>
    </formulas>
    <interviewLabel>United States - Zero out hours for Payee Leave Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>United States - Zero out hours for Payee Leave Event</label>
    <loops>
        <name>Loop_through_timesheet_entries</name>
        <label>Loop through timesheet entries</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <collectionReference>Get_All_Timesheet_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_Day_Leave_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Timesheet_Entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_timesheets</name>
        <label>Loop through timesheets</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Timesheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Timesheet_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Timesheet_Entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Timesheet_Entry</name>
        <label>Create Timesheet Entry</label>
        <locationX>1194</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Loop_through_timesheet_entries</targetReference>
        </connector>
        <inputReference>varSECONDTimesheetEntry</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Timesheet_Entries</name>
        <label>Get All Timesheet Entries</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Leave_Span</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Assignment__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Time_Number__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.End_Time_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Time_Number__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Start_Time_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__End_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheets</name>
        <label>Get Timesheets</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Timesheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Assignment__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__End_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Timesheet_Entries</name>
        <label>Update Timesheet Entries</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Update_Timesheets1</targetReference>
        </connector>
        <inputReference>CurTSE</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Timesheet_Entries1</name>
        <label>Update Timesheet Entries</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Assignment__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_et__Approval_Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Approved_Rejected_By__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Approved_Rejected_on_Behalf_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Approved_Rejected_on_Behalf_User__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Approver_Notes__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Break_1_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Break_1_Paid__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Break_1_Start_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Break_1_Total__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Break_2_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Break_2_Paid__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Break_2_Start_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Break_2_Total__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Employee_Notes__c</field>
            <value>
                <elementReference>EmployeeNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Project_Code__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Start_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Submitted_Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_et__Total_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>tc9_et__Timesheet_Entry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Timesheet_Reversal_Due_to_Leave_Field</name>
        <label>Update Timesheet &apos;Reversal Due to Leave&apos; Field</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Reverse_approved_Timesheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_timesheets.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reversal_Due_to_Leave__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_util__ScheduledJobProcessed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>tc9_et__Timesheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Timesheets1</name>
        <label>Update Timesheets</label>
        <locationX>50</locationX>
        <locationY>2171</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Employee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Payee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tc9_pr__Payee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_util__ScheduledJobProcessed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>tc9_et__Timesheet__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Timesheets</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
    ISPICKVAL({!$Record.tc9_pr__Approval_Status__c}, &quot;Approved&quot;),
    NOT({!$Record.Reset_Leave_Event__c}),
    OR(
        ISPICKVAL({!$Record.tc9_pr__Void__c}, &quot;&quot;),
        ISPICKVAL({!$Record.tc9_pr__Void__c}, &quot;NO&quot;)
    ),
    {!$Record.RecordType.Name} = &quot;Leave Take&quot;,
{!$Record.tc9_pr__Assignment__r.RecordType.Name} &lt;&gt; &quot;Employee&quot;
)</filterFormula>
        <object>tc9_pr__Payee_Leave_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurTSE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>varFIRSTtimesheetEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>varSECONDTimesheetEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>VarTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_et__Timesheet_Entry__c</objectType>
    </variables>
</Flow>
