force-app/main/default/flows/X2c9_Run_Cross_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cross_Assignment_Delete</name>
        <label>Cross Assignment Delete</label>
        <locationX>638</locationX>
        <locationY>1658</locationY>
        <actionName>X2c9_CrossAssignmentDeleteBatch</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>timesheetIds</name>
            <value>
                <elementReference>TSCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>X2c9_CrossAssignmentDeleteBatch</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Cross_Assignment_Insert</name>
        <label>Cross Assignment Insert</label>
        <locationX>158</locationX>
        <locationY>1658</locationY>
        <actionName>X2c9_CrossAssignmentInsertBatch</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>timesheetIds</name>
            <value>
                <elementReference>TSCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>X2c9_CrossAssignmentInsertBatch</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Selected_Timesheets</name>
        <label>Assign Selected Timesheets</label>
        <locationX>138</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>TSCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Timesheets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Timesheets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Selected_Timesheets</name>
        <label>Copy 2 of Assign Selected Timesheets</label>
        <locationX>618</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>TSCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_2_of_Loop_Selected_Timesheets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Loop_Selected_Timesheets</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceDelete</name>
        <choiceText>Delete Records</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceInsert</name>
        <choiceText>Insert Records</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insert</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>540</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Assignment</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choiceInsert</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timesheets_Selected</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choiceDelete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Timesheets_Selected</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Timesheets_Selected</name>
        <label>Copy 1 of Timesheets Selected?</label>
        <locationX>638</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Cross_Assignment_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DTDelete.numberOfRowsSelected</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Loop_Selected_Timesheets</targetReference>
            </connector>
            <label>Copy 1 of Yes Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timesheet_Found</name>
        <label>Timesheet Found</label>
        <locationX>863</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Timesheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Timesheet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Timesheets_for_Insertion</targetReference>
            </connector>
            <label>Yes Timesheet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timesheets_for_Deletion_Found</name>
        <label>Timesheets for Deletion Found</label>
        <locationX>540</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Start</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Timesheets_for_Deletion_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Timesheets_for_Deletion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start</targetReference>
            </connector>
            <label>Timesheets for Deletion Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timesheets_for_Insertion_Found</name>
        <label>Timesheets for Insertion Found</label>
        <locationX>540</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Timesheets_for_Deletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Insertion_TS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Timesheets_for_Insertion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Timesheets_for_Deletion</targetReference>
            </connector>
            <label>Yes Insertion TS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timesheets_Selected</name>
        <label>Timesheets Selected?</label>
        <locationX>158</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Cross_Assignment_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DTInsert.numberOfRowsSelected</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Timesheets</targetReference>
            </connector>
            <label>Yes Selected</label>
        </rules>
    </decisions>
    <description>Screenflow that allows for the cross assignment process to be manually triggered instead of waiting for the scheduled job to run.
Includes options to update the related Assignment for cross assignment and visibility over pending Timesheets for insertion and deletion.</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaCrossAssignmentGroupID</name>
        <dataType>String</dataType>
        <expression>{!Get_Related_Assignment.tc9_pr__Payee__r.Name} &amp; &apos;-&apos; &amp; {!Get_Related_Assignment.tc9_pr__Employee__r.Name}</expression>
    </formulas>
    <formulas>
        <name>frmGroupByID</name>
        <dataType>String</dataType>
        <expression>{!Get_Timesheet.tc9_et__Assignment__r.tc9_pr__Payee__c} + &quot;_&quot; + {!Get_Timesheet.tc9_et__Assignment__r.tc9_et__Interpretation_Rule__c}</expression>
    </formulas>
    <interviewLabel>2c9 - Run Cross Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2c9 - Run Cross Assignment</label>
    <loops>
        <name>Copy_2_of_Loop_Selected_Timesheets</name>
        <label>Copy 2 of Loop Selected Timesheets</label>
        <locationX>530</locationX>
        <locationY>1274</locationY>
        <collectionReference>DTDelete.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Assign_Selected_Timesheets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cross_Assignment_Delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Timesheets</name>
        <label>Loop Selected Timesheets</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <collectionReference>DTInsert.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Selected_Timesheets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cross_Assignment_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_Assignment</name>
        <label>Get Related Assignment</label>
        <locationX>922</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Timesheet.tc9_et__Assignment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_pr__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet</name>
        <label>Get Timesheet</label>
        <locationX>863</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Timesheet_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTimesheetID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheets_for_Deletion</name>
        <label>Get Timesheets for Deletion</label>
        <locationX>540</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Timesheets_for_Deletion_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>x2c9_Cross_Assignment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Delete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheets_for_Insertion</name>
        <label>Get Timesheets for Insertion</label>
        <locationX>540</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Timesheets_for_Insertion_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tc9_et__Transaction_Creation_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </filters>
        <filters>
            <field>x2c9_Cross_Assignment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Insert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tc9_et__Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assignment</name>
        <label>Update Assignment</label>
        <locationX>922</locationX>
        <locationY>1274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Timesheet.tc9_et__Assignment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>x2c9_Cross_Assignment_Group_By_ID__c</field>
            <value>
                <elementReference>Cross_Assignment_Group_By_ID</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_pr__Assignment__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1186</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtError</name>
            <fieldText>&lt;p&gt;Utility is unable to run due to missing data.&lt;/p&gt;&lt;p&gt;Please contact your IT deprtment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>540</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <fields>
            <name>Cross_Assignment_Interpretation_Not_Configured</name>
            <fieldText>Cross Assignment Interpretation Not Configured</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cross_Assignment_Interpretation_Not_Configured_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtCrossAssignment</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;To enable Cross Assignment processing, the related Assignment must have the &apos;Cross Assignment Group By ID&apos; field populated.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;The recommended default value is &quot;Payee + Interpretation Rule&quot;, but this can be adjusted based on your specific requirements.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Cross_Assignment_Group_By_ID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>frmGroupByID</elementReference>
                    </defaultValue>
                    <fieldText>Cross Assignment Group By ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Timesheet.tc9_et__Assignment__r.x2c9_Cross_Assignment_Group_By_ID__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varTimesheetID</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Process_Cross_Assignment1</name>
            <fieldText>Process Cross Assignment</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Process_Cross_Assignment1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Process_Cross_Assignment</name>
                    <choiceReferences>choiceInsert</choiceReferences>
                    <choiceReferences>choiceDelete</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Process Cross Assignment</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DTInsert</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>tc9_et__Timesheet__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>tc9_et__Timesheet__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Timesheets_for_Insertion</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:1000</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Timesheets to Insert</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>custom:custom95</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>choiceInsert</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DTDelete</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>tc9_et__Timesheet__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>tc9_et__Timesheet__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Timesheets to Delete</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>custom:custom95</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,tc9_et__Total_Hours__c,tc9_et__Total_Timesheet_Entries__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:658, tc9_et__Total_Hours__c:658, tc9_et__Total_Timesheet_Entries__c:658</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Timesheets_for_Deletion</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>choiceDelete</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Timesheet.tc9_et__Assignment__r.x2c9_Cross_Assignment_Group_By_ID__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>737</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Timesheet</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>SetCrossAssignmentGroupText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TSCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimesheetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
