force-app/main/default/flows/X3B_Candidate_App_Availability_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Push</name>
        <label>Send Push</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>b3p__PushService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactIds</name>
            <value>
                <elementReference>contactIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>link</name>
            <value>
                <stringValue>https://epic-3b--3bdev1.sandbox.my.salesforce-sites.com/onboarding/b3p__Portal#CandidateApp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pushBody</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pushTitle</name>
            <value>
                <stringValue>Provide Your Availability</stringValue>
            </value>
        </inputParameters>
        <nameSegment>b3p__PushService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_contactIds</name>
        <label>Set contactIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Push</targetReference>
        </connector>
    </assignments>
    <description>If a user ticks request availability, sends the contact a push notification prompting them to provide their availability.</description>
    <environments>Default</environments>
    <interviewLabel>3B - Candidate App - Availability Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>3B - Candidate App - Availability Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Untick_checkbox</name>
        <label>Untick checkbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_contactIds</targetReference>
        </connector>
        <inputAssignments>
            <field>b3_Request_Availability__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Untick_checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3_Request_Availability__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>b3_Request_Availability__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please remember to enter your availability for the coming week on the app.</text>
    </textTemplates>
    <variables>
        <name>contactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
